@use "variables" as *;

html {
  min-height: 100%;
  background: $color-base-main;
}

body {
  min-height: 100vh;
  margin: 0;
  background: $color-base-main;
  color: $color-text-main;
  font-family: $font-family-base;
  font-size: 14px;
  line-height: $line-height-base;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  overflow-wrap: anywhere;
}
