@use "../setting/mixin" as *;
@use "../setting/variables" as *;

.c-brandType01 {
  color: $color-text-main;
  font-weight: $font-weight-extra-bold;
  font-size: 13px;
}

.c-globalNavType01 {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: $color-text-sub;
  font-size: 12px;
  font-weight: $font-weight-bold;

  &_link {
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: border-color $transition-normal, color $transition-normal;

    @include hover {
      border-color: currentcolor;
      color: $color-text-highlight;
      outline: none;
    }
  }

  @include responsive("sp") {
    gap: 12px;
    font-size: 10px;

    &_link {
      padding: 4px 0;
    }
  }
}
